* {
    box-sizing: border-box;
}
body {
    background-color: var(--main-color);
    margin: 0;
}
header {
    background-color: aquamarine;
    padding: 35px;
}
.border-title {
    background-color: darkblue;
    text-align: center;
}
